{% include "ISHAR/header.html" %}


<body>

<h3><b>ISHAR Affiliates</b></h3>
<p>
	ISHAR is dedicated to the premise of interdisciplinary cooperation as a means toward integrative theories.  To that end we affiliated and collaborate with a wide range of organizations and scholars to expose as many people to as many fields of research as possible.
</p>

<p style="text-align: center;"><span style="font-size: large;"><span style="font-family: helvetica;"><a href="https://www.choprafoundation.org/"><img src="http://isharonline.org/sites/default/files/resize/chopra_foundation-256x158.jpg" alt="" width="256" height="158"></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a href="http://www.columbia.edu/"><img src="http://isharonline.org/sites/default/files/resize/columbia_university-220x220.jpg" alt="" width="220" height="220"></a></span><span style="font-family: helvetica; line-height: 20.0063px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a href="http://tibethouse.us/"><img src="http://isharonline.org/sites/default/files/resize/tibet_house-204x211.jpg" alt="" width="204" height="211"></a></span></span></p>
<p style="text-align: center;"><img src="http://isharonline.org/sites/default/files/resize/ucsd-228x137.png" alt="" width="228" height="137">&nbsp; &nbsp;<img src="http://isharonline.org/sites/default/files/resize/karolinska-207x248.png" alt="" width="207" height="248">&nbsp;&nbsp;<img src="http://isharonline.org/sites/default/files/harvard.png" alt="" width="180" height="167"></p>
<p style="text-align: center;"><span style="font-family: helvetica; font-size: 13.008px; line-height: 20.0063px;"><a href="http://foundationsofmind.org/mission.html"><img src="http://isharonline.org/sites/default/files/resize/fom-341x60.jpg" alt="" width="341" height="60"></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><a style="font-size: 13.008px; font-family: helvetica; line-height: 20.0063px;" href="http://cup.columbia.edu/series/treasury-of-the-indic-sciences"><img src="http://isharonline.org/sites/default/files/resize/indic_sciences-339x44.png" alt="" width="339" height="44"></a></p>
<p style="text-align: center;"><img src="http://isharonline.org/sites/default/files/resize/parliament-298x283.jpg" alt="" width="298" height="283" style="font-size: 13.008px; line-height: 1.538em;"><span style="font-size: 13.008px; line-height: 1.538em;">&nbsp;</span></p>

</body>

{% include "ISHAR/footer.html" %}