{% include "ISHAR/header.html" %}

<body>

	<h3><b>Contact Us</b></h3>

	<br>

	<table style="width: 100%;">
		<tr>
			<td><b>Direct Contact: </b><a href="mailto:admin@isharonline.org">admin@isharonline.org</a></td>
			<td>Social Media Links:</td>
			<td><a href="https://www.facebook.com/isharonline"><b><i>Facebook</i></b></a></td>
			<td><a href="https://twitter.com/ISHARonline"><b><i>Twitter</i></b></a></td>
		</tr>
	</table>
	<p>
		If you are an expert in any given field, please note this in the subject line.  Please do not hesitate, we want to hear from you.
	</p>
	<center>
		<p>
			<i>Share your studies with ISHAR, and we will share them with the world.</i>
		</p>
	</center>
	
	<br>

</body>

{% include "ISHAR/footer.html" %}