<style>

	html {
	/*		background-image: url("https://i.pinimg.com/originals/ea/f5/aa/eaf5aaa6c7ab1a5d9ae56bf350675922.jpg");*/
			margin-left: 8%;
			margin-right: 8%;
			margin-top: 5%;
	}

	header {
		background-color: #ffffff;
	}

	body {
		background-color: #99ccff;
	}

	footer {
		background-color: #000000;
	}

	p {
		font-size: 16px;
	}

</style>



<header>
	<img src="http://www.isharonline.org/sites/default/files/ishar_cf_logo_3.site__1.png">



	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<div class="w3-bar w3-light-grey">

	  <a href="#" class="w3-bar-item w3-button">Home</a>

	  <div class="w3-dropdown-hover">
	    <button class="w3-button">ISHAR Libraries</button>
	    <div class="w3-dropdown-content w3-bar-block w3-card-4">
	      <a href="{% url 'ishar:int_health' %}" class="w3-bar-item w3-button">Integrative Health</a>
	      <a href="#" class="w3-bar-item w3-button">Integrative Culture</a>
	      <a href="#" class="w3-bar-item w3-button">Journal Portal</a>
	      <a href="#" class="w3-bar-item w3-button">Barbara Marx Hubbard Journals</a>
	      <a href="{% url 'ishar:cosmology' %}" class="w3-bar-item w3-button">Comparative World Cosmologies</a>
	    </div>
	  </div>

	  <div class="w3-dropdown-hover">
	    <button class="w3-button">About Us</button>
	    <div class="w3-dropdown-content w3-bar-block w3-card-4">
	      <a href="#" class="w3-bar-item w3-button">Mission</a>
	      <a href="#" class="w3-bar-item w3-button">Supervisory Board</a>
	      <a href="#" class="w3-bar-item w3-button">Affiliates</a>
	    </div>
	  </div>

	  <a href="{% url 'ishar:contact' %}" class="w3-bar-item w3-button">Contact Us</a>

	</div>
</header>