{% include "ISHAR/header.html" %}

<body>
<h3><b>ISHAR Honorarium</b></h3>
<p>
	The following list of names are those generous individuals who donated to ISHAR's Indiegogo fundraiser.  Their belief in the need for free access to rigorous studies into Integrative Studies is the reason we exist, and we hope to make these individuals proud of our efforts to provide a world-class database on Integrative Studies!
</p>
<p>
	Thank you.
</p>

<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Alan Nicoll</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Alexander Kvist Hansen</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Alfred R Sheldrake</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">American Express</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Anastasia Santos</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Andre Saine</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Anh T Dang</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Ann McKnight</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Annamaria Laverty</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Anne Alexander</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Ariane H Hudson</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Ariel Hernandez</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Aunna Pourang</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Aurora Ziman Karlsson</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Barbara J Appelgren</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Becky Millen</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Brian Lewis</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Bruce H Lipton</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">C B Gallagher</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Candice F Porter</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Caroline Nixon</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Carolyn Rangel</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Catherine J. Fyans</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Charles E Hoffman</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Charles R. Lind</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Charlotte Dennis</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Chi Huynh</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Cindy E Anderson</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Community Health &amp; Wellness</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Conny Ohult</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Cordann Anderson</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Cynthia TenEyck</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">D L Premschak</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Daniel R Shea</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Daniel Vicario</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Danny Ofek</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Deborah Machon</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Diane M Malmstrom</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Diane M Vickers</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Dirk DARRAS</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Dolina Watson</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Dr. Robert J. DiOrio</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">E. Rabe Lorinczi</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Eileen Kurlander</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Elizabeth Crouse</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Esther Konigsberg</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Fafineth Soromou</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Fernando de la Quintana He</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Fred Matser</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Gary Piscopo</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Gary Robbins</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">George J Limberakis</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">George Subkoff</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Gerrie Lin Quenneville</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Gian Chakravorty</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Gord Echlin</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Gurinder Singh</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Helen Lam</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Hillary Thornley</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Jvanka Zic</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Jacqueline Eastman</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Jan Searle</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Jari Rautio</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Jon McIntosh</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Joseph Beatty</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Julian Suggate</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Julie A Guardado</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Katherine Hernandez</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Kathyayani Sathish</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Keith Harris</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Kelly Jennings</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Kimberly Palka</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Klara Bilemdjian</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Landry Tientcheu</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Laura Schriner</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Leon M Worsley</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Linda A. Rovai</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Lisa Brinker</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Lisa Marie Coffey</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Lydie Laberrondo</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Lynn Mary Karjala</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Lynn Roberts</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Marilyn K. McWilliams</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Mark G Thompson</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Mark H Bottinick</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Mark J Kramer</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Martha G Robbins</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Mary Murphy</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Menas Kafatos</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Michael DeMolina</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Mihayla Hawkins</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Mrs. H O'Hora</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Mrs Margit E Kazi</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Nikolaos Koutoupis</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Olif M Wojciechowski</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Olivia Hansen</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Patricia Tessmer</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Paul G. Fast</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Paul J Mills</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Paul Kevin Curtis</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Phaedra Sawbridge</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Ralph Abraham</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Raul Perez Tobar</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Rebecca Novak</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Renata Falcao</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">RF Smith</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Robert Schwarz</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Robert Weissfeld</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Roger Guiditta</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Ross A Kahlefeldt</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Ryan Abboud</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Sandra Hay</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Sara Altshul</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Shamini Jain</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Sheran Mattson</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Sheryl Dluginski</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Shirley Konigsberg</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Simon Ghahary</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Sourin Chakravorty</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Stephen Jones</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Tiffany Barsotti</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Tran Doan Thanh</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Vaughn R Cook</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Vesselin Stamatov</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Vu Nguyen</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Wendie Colter</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">WG van Schouwenburg</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">William E Dovel</span></em></strong></p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">Ya'Acov Darling Khan</span></em></strong></p>
<p>&nbsp;</p>
<p class="MsoNormal"><strong><em><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Book Antiqua',serif;">&nbsp;</span></em></strong></p>

</body>

{% include "ISHAR/footer.html" %}