{% include "ISHAR/header.html" %}

<body>
	<h2 style="text-align: center;">ISHAR Libraries</h1>

	<p style="text-align: center;">ISHAR (Integrative Studies Historical Archive & Repository) is an academic reference library. We offer tens of thousands of free, qualified academic sources on a range of topics, the main coverage of which includes Integrative Health, Integrative Culture and Integrative Theory. </p>

	<p style="text-align: center;">The contents of ISHAR include sources with varying levels of content: basic bibliographic sources, formalized abstract sources, full-length medical studies, abstracts of humanities sources, full-length humanities sources and complete journal sources.</p>

	<table style="width: 100%;">
		<tr>

			<td><center><a href="{% url 'ishar:int_health' %}"><h3>Integrative Health</h3></a></center></td>
			<td><center><a href="{% url 'ishar:int_culture' %}"><h3>Integrative Culture</h3></a></center></td>
		</tr>
		<tr>
			<td><center><p>Integrative Health is about being healthy in untraditional ways or something like that</p></center></td>
			<td><center><p>Integrative Culture is about the culture around this whole idea or something like that</p></center></td>
		</tr>
	</table>
	<center>
		<a href="{% url 'ishar:journal' %}"><h3>Journal Portal</h3></a>
		<p>Some random stuff about what the journal portal is...</p>
		<a href="{% url 'ishar:bmh_journal' %}"><h3>Barbara Marx Hubbard Journals</h3></a>
		<p>Some random stuff about what the barbara marx hubbard journals are...</p>
		<a href="{% url 'ishar:cosmology' %}"><h3>Comparative World Cosmologies</h3></a>
		<p>Some random stuff about what the journal portal is...</p>
	</center>

</body>

{% include "ISHAR/footer.html" %}