{% include "ISHAR/header.html" %}

<body>
	<h1 style="text-align: center;"><b>ISHAR Libraries</b></h1>

	<p style="text-align: center;">ISHAR (Integrative Studies Historical Archive & Repository) is an academic reference library. We offer tens of thousands of free, qualified academic sources on a range of topics, the main coverage of which includes Integrative Health, Integrative Culture and Integrative Theory. </p>

	<p style="text-align: center;">The contents of ISHAR include sources with varying levels of content: basic bibliographic sources, formalized abstract sources, full-length medical studies, abstracts of humanities sources, full-length humanities sources and complete journal sources.</p>

	<br>

	<table style="width: 100%;">
		<tr>

			<td><center><a class="button" href="{% url 'ishar:int_health' %}"><h3>Integrative Health</h3></a></center></td>
			<td><center><a class="button" href="{% url 'ishar:int_culture' %}"><h3>Integrative Culture</h3></a></center></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td style="width:50%"><center><p>Locate information about health and medicine, majorly biomedical and scientific.</p></center></td>
			<td><center><p>Locate information about how culture and belief systems relate to the mind, body, and spirit.</p></center></td>
		</tr>
	</table>
	<br>
	<center>
		<a class="button" href="{% url 'ishar:journal' %}"><h3>Journal Portal</h3></a>
		<p>Uncover a vast array of diverse journals in medicine and science.</p>
		<br>
		<a class="button" href="{% url 'ishar:bmh_journal' %}"><h3>Barbara Marx Hubbard Journals</h3></a>
		<p>Enter to obtain author's unique lifelong collection of journals.</p>
		<br>
		<a class="button" href="{% url 'ishar:cosmology' %}"><h3>Comparative World Cosmologies</h3></a>
		<p>Find information about the origin, classification, and other information about the world cosmologies.</p>
	</center>

</body>

{% include "ISHAR/footer.html" %}