{% include "ISHAR/header.html" %}

<body>
	<h3><b>Integrative Culture</b></h3>
	<p>
		This is a list of summaries about the topics within ISHAR that relate to culture and belief systems, particularly how they relate to mind/body/spirit connections.  The sources listed within each topic include anthropological, theological, psychological and historical studies, as well as relevant literary references.  Please note ISHAR's coverage is constantly expanding, so this list may change format over time.  
	</p>
	<p>
		At the top of every topic page is a link to all the dedicated sources and articles ISHAR has on that topic.  The bolded topics have detailed summaries, analytical matrices and links to diverse perspectives about the topic.  Please peruse these sources and leave your comments!
	</p>

	<br><br><br><br>

	<h3>ISHAR Cultural Preservation</h3>
	<p>
		ISHAR also preserves the cultural contributions of important figures in the mind-body community.  Though these are held to high historical standards, these works are necessarily subjective and should not be seen as part of ISHAR's vetted peer-reviewed library, and will not appear in general searches of that library.
	</p>
	<ul>
		<li><a href="{% url 'ishar:bmh_journal' %}">Barbara Marx Hubbard Journals</a></li>
	</ul>
</body>

{% include "ISHAR/footer.html" %}