{% include "ISHAR/header.html" %}

<body>
	<h3><b>Integrative Health</b></h3>
	<p>
		This is a list of summaries about the topics within ISHAR that relate to health and medicine.  The overwhelming majority of the sources listed under each topic are biomedical or scientific.  Please note ISHAR's coverage is constantly expanding, so this list may change format over time.  
	</p>
	<p>
		At the top of every topic page is a link to all the dedicated sources and articles ISHAR has on that topic.  The bolded topics have detailed summaries, analytical matrices and links to diverse perspectives about the topic.  Please peruse these sources and leave your comments!
	</p>

</body>

{% include "ISHAR/footer.html" %}