{% include "ISHAR/header.html" %}

<body>

<h3><b>Mission and Background</b></h3>

<h3>What is ISHAR?</h3>
<p>
	We are archiving  a world collection of cultural and scientific knowledge, research and discussion with an emphasis on integrative medicine and consciousness studies, eventually including all notable subjects therein.  ISHAR is a program of ISHAR LLC, which is a Chopra Foundation Initiative and a 501(c)(3) nonprofit public charity.
</p>

<h3>Mission</h3>
<p>
	ISHAR offers a practical, open-access resource for both researchers and the public to educate themselves about the status of current findings in Integrative Studies.  Multi-disciplinary subjects will be presented in an interconnected, holistic context while maintaining strict academic standards relating to their field of study, and pursue outreach and collaboration with scholarly organizations relating to integrative studies.  ISHAR will legally provide all available bodies of knowledge with an open-access ideology. 
</p>

<h3>Ethics</h3>
<ul>
<li><p>Sources of all subjects shall be presented neutrally, comprehensively and objectively.</p></li>
<li><p>All academic sources on ISHAR will be held to the scholarly standards of their respective disciplines.</p></li>
<li><p>ISHAR does not and will not endorse any particular view, position or claim made within its archive.</p></li>
<li><p>ISHAR staff have an obligation to promote access to qualified academic sources, making all such content publicly available.</p></li>
<li><p>Any contributions to collaborative editing (e.g. Wikipedia) will abide by the Ethics and Standards of that site in addition to ISHAR’s own.</p></li>
</ul>

</body>

{% include "ISHAR/footer.html" %}