{% include "ISHAR/header.html" %}

<body>

	<h3><b>Board of Supervisors</b></h3>
	<p>
		ISHAR Supervisors are volunteers who are responsible for vetting summary content on the ISHAR digital library according to the rules of curation. We rely on this collection of experts in diverse fields to help critically analyze ISHAR’s presentation of materials and establish a reliable scope of service.  They are encouraged to examine the content we present and act as a check on unconscious editorial bias.
	</p>
	<p>
		Our Board of Supervisors includes:
	</p>
	<ul>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Paul Mills</strong>, PhD<strong>,</strong>&nbsp;Professor in Residence, UCSD</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Shiva Ayyadurai</strong>, PhD&nbsp;MIT, Systems Engineer</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>William Bushell</strong>, PhD, Director of Research at Tibet HouseUS/The Menla Center, Medical Anthropology, MIT</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Robert Thurman</strong>, PhD, President and Founder, Tibet House</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Dean Ornish</strong>, MD, President and Founder,&nbsp;Preventive Medicine Research Institute</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Menas Kafatos</strong>,&nbsp;PhD, Schmid College of Science and Technology.&nbsp;Physics, Computational Science and Engineering, School of Computational Sciences</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Lisa Miller</strong>, PhD, &nbsp;Professor and Director of Clinical Psychology&nbsp;Director, Spirituality and Mind-Body Institute.&nbsp;Columbia University, Teachers College</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Marilyn Schlitz</strong>,&nbsp;Fellow and President Emeritus, Institute of Noetic Sciences,&nbsp;&nbsp;Senior Scientist at California Pacific Medical Center Research Institute.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;">Dr.<strong>&nbsp;Robert Schwarz</strong>, PhD, Association for Comprehensive Energy Psychology</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Daniel Vicario</strong>, MD,&nbsp;Medical Director, San Diego Cancer Research Institute.&nbsp;Director, Integrative Oncology Program.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Julia Mossbridge</strong>, PhD, Research Associate, Department of Psychology, Northwestern University and Inventor of Choice Compass.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;">Dr.<strong>&nbsp;Anirban Bandyopadhyay</strong>, PhD, Senior Researcher, NIMS, Adjunct Asst. Professor Michigan Technological University, Advanced Scanning Probe Microscopy group, Advanced Nano Characterisation Center (ANCC), Massachusetts Institute of Technology Institute of Medical and Engineering Science.</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Subhash Kak,</strong>&nbsp;Regents Professor, Department of Computer Science&nbsp;Oklahoma State University</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;">Dr.<strong>&nbsp;Jack Sarfatti</strong>, PhD, &nbsp;Theoretical physicist</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Neil D. Theise</strong>, MD, Professor of Pathology and of Medicine at the Beth Israel Medical Center of Albert Einstein College of Medicine.&nbsp;</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Allan Leslie Combs</strong>, PhD, Doshi Professor of Consciousness Studies.&nbsp;Director of&nbsp;The Center for Consciousness Studies&nbsp;at the&nbsp;California Institute of Integral Studies. He is also the President of the&nbsp;Society for Consciousness Studies&nbsp;and Director of Consciousness Studies master’s degree program at the&nbsp;Graduate Institute of Connecticut. Professor Emeritus at the&nbsp;University of North Carolina-Asheville&nbsp;</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;">Dr.&nbsp;<strong>Jeffrey Martin</strong>,&nbsp;Center for the Study of Non Symbolic Consciousness</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Shamini Jain</strong>, PhD, &nbsp; Assistant Professor, Psychiatry, UC San Diego; Chair, Research Development Committee, UC San Diego Center for Integrative Medicine</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Meg Jordan</strong>, PhD,&nbsp;RN&nbsp;Clinical Medical Anthropologist, Chair and Professor, Integrative Health Studies, California Institute of Integral Studies</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Francois Demange</strong>, MA Anthropology, &nbsp;Indigenous Medicine</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Digna Faviola Camacho</strong>, Neuromuscular Therapist, CMT</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>James Fallon</strong>, PhD, Professor of Psychiatry and Neurobiology, UC Irvine</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;">Dr.&nbsp;<strong>Esther Konigsberg</strong>, MD, CCFP&nbsp;Consortium of Academic Health Centers for Integrative Medicine</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Kelly Jennings</strong>,&nbsp;ND, MSOM, LAc, Naturopathic Physician, Licensed Acupuncturist, Co-Collaborator: The Breast Cancer Companion</span></li>
</ul>

<h3><b>Board of Advisors</b></h3>
<p>
	ISHAR Advisors are critically important supporters, whose ongoing efforts in establishing, promoting and improving ISHAR have made this library possible.  Advisors fulfill a role equally as vital as Supervisors, often in very diverse, active ways.
</p>

<ul>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><a href="https://www.deepakchopra.com/"><strong>Deepak Chopra</strong></a>, MD, &nbsp;ISHAR&nbsp;Founder</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Denise Lewis Premschak</strong>, Founder, Field Guide, LLC; Director, Voice for HOPE-Healers of Planet Earth; past CEO &amp; Managing Editor of ISSSEEM</span></li>
<li><span style="font-family: tahoma, arial, helvetica, sans-serif; font-size: medium;"><strong>Camille Leon</strong>, Founder &amp; Executive Director of the Holistic Chamber of Commerce, Executive Advisor to Voice for HOPE</span></li>
</ul>

<a href="#"><h3><b>ISHAR Honorarium</b></h3></a>
<p>
	These individuals have generously donated toward making ISHAR a reality, and we are tremendously grateful to all of them! (Link dead as of now - make new page)
</p>

</body>

{% include "ISHAR/footer.html" %}